*{margin:0; padding:0; box-sizing:border-box; font-family:'Orbitron',sans-serif;}
body{background:radial-gradient(circle at top,#24113a,#12071f,#07020c); color:white; min-height:100vh; overflow-x:hidden;}

#particles-js{position:fixed; width:100%; height:100%; top:0; left:0; z-index:-2;}
.container{width:90%; max-width:1300px; margin:auto;}


header{text-align:center; padding:40px 20px;}
.logo{font-size:5rem; font-weight:900; letter-spacing:10px; animation:neonPulse 3s infinite;text-align: center;}
.subtitle{margin-top:10px; letter-spacing:4px; color:#c77dff; font-family: 'Pliant'; font-weight: 600;}
.price{font-size: 3rem; letter-spacing: 2px; text-align: center;font-family: "Huninn", sans-serif; font-weight: 400; font-style: normal;}

@keyframes neonPulse{
0%,100%{text-shadow:0 0 5px #c77dff,0 0 20px #c77dff,0 0 20px #c77dff;}
50%{text-shadow:0 0 10px #c77dff,0 0 20px #c77dff,0 0 40px #9d4edd,0 0 60px #7b2cbf;}
}
.text-cont {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 90%;                        
    text-align: center;               
    display: flex;
    flex-direction: column;            
    gap: 10px;                         
}
.glass-text {
  font-family: "Pliant";
  font-weight: 600;
  font-style: normal;
  font-size: 4.5rem;
  color: #ffffff;
  text-shadow:0 0 10px rgb(255, 255, 255);
}
.glass-title{
  font-family: "Rubik";
  font-weight: 700;
  font-style: normal;
  font-size: 5.5rem;
  color: #ffffff;
  text-shadow:0 0 10px rgb(255, 255, 255);
}


.stats{display:flex; justify-content:center; gap:25px; flex-wrap:wrap; margin:30px 0;}
.card{width:250px; padding:25px; background:rgba(255,255,255,.05); backdrop-filter:blur(12px); border:1px solid rgba(199,125,255,.2); border-radius:20px; text-align:center; transition:.4s; position:relative; overflow:hidden;}
.card i{font-size:2rem; margin-bottom:15px; color:#c77dff;}

.card:hover{transform:translateY(-10px); box-shadow:0 0 20px #c77dff,0 0 60px rgba(199,125,255,.4);}

.cardtext{font-family:'Rubik';font-weight: 600; font-size: 1.8rem; text-shadow: 0 0 10px palevioletred;}
.cardsub{font-family: 'Pliant'; font-weight: 400; font-size: 1rem;}

.slider{margin-top:40px; height:950px; position:relative; overflow:hidden; border-radius:25px; border:1px solid rgba(199,125,255,.2); box-shadow:0 0 30px rgba(199,125,255,.2);}
.slide{position:absolute; width:100%; height:100%; opacity:0; transform:scale(1.15) rotate(2deg); filter:blur(8px); transition:opacity 1s ease, transform 1.4s ease, filter 1.4s ease;}
.slide.active{opacity:1; transform:scale(1) rotate(0deg); filter:blur(0);}
.slide img{width:100%; height:100%; object-fit:cover; filter: brightness(25%);}
.slide::after{content:""; position:absolute; left:0; top:0; width:100%; height:100%;}
.slide-content{position:absolute; bottom:50px; left:50px; z-index:2;}
.slide-content h2{font-size:2.5rem; margin-bottom:15px; font-family: 'Rubik'; font-weight: 700; text-shadow: 0 0 5px white;}
.slide-content p{font-size:1.1rem; color:#d4f8ff; font-family: 'Pliant'; font-weight:400;}
.slider:hover{box-shadow:0 0 20px #c77dff,0 0 50px #c77dff66,0 0 100px #9d4edd;}
.slider-dots{position:absolute; bottom:20px; left:50%; transform:translateX(-50%); display:flex; gap:10px; z-index:5;}
.dot{width:12px; height:12px; border-radius:50%; background:#fff4; transition:.3s;}
.active-dot{background:#c77dff; box-shadow:0 0 10px #c77dff;}


.buttons{margin:50px 0; display:flex; flex-direction:column; align-items:center; gap:20px;}
.book-btn{width:450px; height:80px; border:none; border-radius:18px; font-size:1.3rem; font-weight:700; cursor:pointer; color:white; background:linear-gradient(135deg,#c77dff,#7b2cbf); transition:.4s; position:relative; overflow:hidden; display:flex; align-items:center; justify-content:center; gap:12px; text-decoration:none;}
.book-btn::before{content:""; position:absolute; left:-120%; top:0; width:100%; height:100%; background:linear-gradient(90deg,transparent,rgba(255,255,255,.5),transparent); transition:.7s;}
.book-btn:hover::before{left:120%;}
.book-btn:hover{transform:scale(1.05); box-shadow:0 0 20px #c77dff,0 0 40px #9d4edd,0 0 80px #7b2cbf;}
.socials{display:flex; gap:20px;}
.social-btn{width:220px; height:60px; display:flex; align-items:center; justify-content:center; gap:10px; text-decoration:none; color:white; border-radius:15px; transition:.3s;}
.whatsapp{background:linear-gradient(135deg,#00c206,#288b009a);}
.telegram{background:linear-gradient(135deg,#0044d5,#002486);}
.social-btn:hover{transform:translateY(-5px) scale(1.05);}
.whatsapp:hover{box-shadow:0 0 25px #00aa17;}
.telegram:hover{box-shadow:0 0 25px #003de5;}
footer{padding:40px; text-align:center; color:#8ebecb;}


@media(max-width:768px){
  .logo{font-size:3rem;}
  .slider{height:350px;}
  .book-btn{width:90%;}
  .socials{flex-direction:column;}
  .social-btn{width:280px;}
  .glass-title{font-size: 1.5rem;}
  .glass-text{font-size: 1.2rem;}
  .slide-content h2{font-size:1rem; margin-bottom:5px;}
  .slide-content p{font-size:0.5rem; color:#d4f8ff;}
  .slide-content{bottom: 40px; left: 30px;}
}